---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { PORTFOLIO_TITLE, SITE_AUTHOR, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={PORTFOLIO_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h3>👋 Hello there!</h3>
			<p>
				My name is {SITE_AUTHOR}, and I'm currently working at Google as a Developer Relations Engineer
				on the <a href="http://firebase.google.com">Firebase</a> team in London 🇬🇧.
			</p>
			<p>
				I was born in Maputo 🇲🇿 and have lived there for most of my life, where I worked as an
				Android app developer who later got some interest in Flutter as well.
			</p>
			<h4>Current Projects</h4>
			<p>
				Nowadays I have been focusing on making sure that
				<a href="http://firebase.google.com/products/vertex-ai-in-firebase">Vertex AI in Firebase</a> and
				<a href="http://firebase.google.com/products/data-connect">Firebase Data Connect</a>
				can provide a great Developer Experience for mobile developers.
			</p>
			<h4>Open Source</h4>
			<p>
				Most of the projects I work on are Open Source. You can find out
				more about them on <a href="https://github.com/thatfiredev" target="_blank">my GitHub profile</a> 
			</p>
			<h4>Blog</h4>
			<p>
				Coming Soon. Previously, I used to write on:
			</p>
			<ul>
				<li><a href="https://medium.com/@thatfire.dev" target="_blank">Medium</a></li>
				<li><a href="https://dev.to/rosariopfernandes/" target="_blank">dev.to</a></li>
			</ul>
			<h4>Videos</h4>
			<p>
				You can find all of my videos in <a href="http://www.youtube.com/@thatfiredev/playlists">my Youtube channel</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
