---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { PORTFOLIO_TITLE, SITE_AUTHOR, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={PORTFOLIO_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>👋 Hi there!</h1>
			<p>
				My name is {SITE_AUTHOR}, I'm a Firebase Developer Relations Engineer based in London 🇬🇧.
				I was born in Maputo 🇲🇿 and love to help Android developers.
			</p>
			<p>
				I work with developers and teams to help them understand and implement
				Firebase products in their applications. My focus is on providing guidance
				and support to developers, as well as creating educational content and resources
				to help them learn and succeed with Firebase.
			</p>
			<p>
				I have a background in software engineering and have been working with Firebase for several years.
 				I'm passionate about helping developers build high-quality, scalable, and reliable Android applications
				using Firebase.
			</p>
			<!-- <h3>Current Projects</h3>
			<ul>
				<li>Firebase</li>
				<li>Gemini</li>
			</ul> -->
			<h3>Open Source</h3>
			<p>
				Most of the projects I work on are Open Source. You can find out
				more about them on <a href="https://github.com/thatfiredev" target="_blank">my GitHub profile</a> 
			</p>
			<h3>Blog</h3>
			<p>
				Coming Soon. Previously, I used to write on:
			</p>
			<ul>
				<li><a href="https://medium.com/@thatfire.dev" target="_blank">Medium</a></li>
				<li><a href="https://dev.to/rosariopfernandes/" target="_blank">dev.to</a></li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
